/*
|--------------------------------------------------------------------------
| Base Styles
|--------------------------------------------------------------------------
*/
*{
    font-family: Lato, sans-serif;
    font-weight: 300;
}

body{
    padding-top: 50px;
}

/*
|--------------------------------------------------------------------------
| Navigation
|--------------------------------------------------------------------------
*/

.navbar-custom{
    background: #0072bc;
}

.navbar-custom .navbar-nav > li > a{
    color: #ffffff;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > li.active > a{
    color: #0072bc;
    background: #ffffff;
}

.navbar-custom .navbar-brand{
    color: #ffffff;
}

/*
|--------------------------------------------------------------------------
| Sections
|--------------------------------------------------------------------------
| section-default = white
| section-alt = blue
*/

section.section{
    padding-top: 50px;
    padding-bottom: 50px;
}
section.section-default{
    border-bottom: 1px solid rgba(0, 114, 188, 0.8);
    color: #666;
}
section.section.section-alt{
    background: #0072bc;
    border-top: 10px solid rgba(0, 114, 188, 0.8);
    color: #ffffff;
}
/*
|--------------------------------------------------------------------------
| Company Info
|--------------------------------------------------------------------------
*/

.company-info #logo img{
    display: block;
    margin: 0 auto;
}

.company-info .text-logo p{
    text-align: center;
    font-size: 40px;
    margin: 25px auto;
    letter-spacing: 1px;
}

/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
*/

footer{
    margin: 50px auto;
}